# Project Files #
#################
*.userprefs
WebGoat/WebGoat.NET.csproj.user
WebGoat/WebGoat.NET.pidb
WebGoat/bin
WebGoat/obj
WebGoat/App_Data/*.txt
WebGoat/App_Data/.DS_Store
WebGoat/App_Data/*.sqlite 
WebGoat/Configuration/*.config
Backup/
UpgradeLog.htm

# Trash Files #
###############
.DS_Store
DB/.DS_Store
WebGoat/DB_Scripts/.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates